/* Header Styles */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ff336613;
  color: black;
  border-bottom: 1px solid #ff33662f;
  font-family: sans-serif;
  padding: 0px 20px;
  padding-right: 50px;
  margin: auto;
}

.header a {
  color: #fff;
  text-decoration: none;
}

.logo {
  height: 50px;
  cursor: pointer;
}
.logo img {
  max-height: 100%;
}
.nav ul {
  list-style: none;
  padding: 0;
  display: flex;
}

.nav li {
  margin: 5px 15px;
  padding-top: 20px;
  border: none;
  cursor: pointer;
}
.nav li:hover {
  color: var(--color-primary);
}

.search input {
  padding: 5px;
  border-radius: 4px;
  border-color: #ff3366;
  width: 300px;
  border-radius: 16px;
}

.search button {
  margin: 5px 20px;
  background-color: var(--color-primary);
  color: #fff;
  border: none;

  -moz-border-radius: 20;
  border-radius: 20px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 16px;
}
.search button:hover {
  background-color: #ff3366;
  color: #fff;
}

.cart-icon {
  font-size: 50px;
}
.cart p {
  display: inline;
  margin-left: 10px;
  font-size: 20px;
}

.header .cart i {
  margin-right: 5px;
  font-size: 20px;
}
.header .cart:hover {
  color: var(--color-primary);
  cursor: pointer;
}
.cart-bg {
  position: fixed;
  top: 0;
  z-index: 90;
  left: 0;
  cursor: pointer;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.096);
}
.cart-disp {
  z-index: 100;
  min-width: 800px;
  position: absolute;
  right: 1%;
  top: 10%;
  background-color: white;
  border-radius: 5px;
  padding: 15px;
  padding-top: 45px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.161);
  box-shadow: 2px 2px 5px 0px rgba(7, 7, 7, 0.16);
}
.account {
  font-size: 14px;
  font-weight: bold;
}


/* Responsive Design */
@media (max-width: 768px) {
  .nav {
    display: none;
  }

  .search {
    margin: 10px 0;
  }

  .cart {
    font-size: 18px;
  }
}

.login,
.signup {
  margin: 5px;
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: Arial;
  color: #fff;
  font-size: 16px;
  background: #ff6600;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
  border: none;
}

.login:hover,
.signup:hover {
  background: #7b3609;
  text-decoration: none;
}
.login-modal .modal-content {
  min-width: 40%;
}
.login-modal .modal-content .registration{
  width: 100%;
}