.header {
  background-color: #fff;
  height: 8vh;
  margin-bottom: 1.2rem;
  box-shadow: var(--shadow-light);
}
.header-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.cosmetics {
  border: transparent;
  padding: 1rem;
}
.cosmetics:focus {
  border: transparent;
}
.category {
}
.category:hover .cosmetics {
  display: block;
}
