.reviews {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 2rem;
  gap: 2rem;
}
.reviewdet {
  background-color: #f2f1f1;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 4px 4px 8px #cbcbcb, -4px -4px 8px #ffffff;
  border-radius: 10px;
}
